image: node:14

pipelines:
  branches:
    main:
      - step:
          name: Trigger Deployment on EC2
          script:
            - echo "Setting up SSH key..."
            - mkdir -p ~/.ssh
            - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > ~/.ssh/id_rsa
            - chmod 600 ~/.ssh/id_rsa
            - ssh-keyscan -H 18.204.155.59 >> ~/.ssh/known_hosts
            - echo "Triggering deployment on EC2..."
            - ssh -i ~/.ssh/id_rsa ubuntu@18.204.155.59 'bash /home/ubuntu/mail_verify_fe/deploy.sh'
